@page "/changePassword"
@inherits ChangePasswordModel



<div id="@Id" class="text-center">
  <h4>Change Password</h4>

  <Validation ValidationResult="@ValidationResult" />
  <br />

  <form onsubmit="@ChangePassword">
    <div class="form-group">
      <label for="newPassword">Enter New Password</label>
      <input type="password" class="form-control" id="NewPassword" bind="@NewPassword" placeholder="Enter New Password" />
    </div>


    <div class="form-group">
      <label for="ConfirmNewPass">Confirm New Password</label>
      <input class="form-control" id="ConfirmNewPass" type="password" bind="@ConfirmPassword" placeholder="Confirm New Password" />
    </div>
    <button type="button" onclick="@ChangePassword" class="btn btn-dark">Confirm</button>

  </form>
</div>
<br />

<style></style>
