@page "/changePin"
@inherits ChangePinModel


<div id="@Id" class="text-center">
  <h4>Change Pin</h4>

  <Validation ValidationResult="@ValidationResult" />
  <br />

  <form onsubmit="@ChangePin">
    <div class="form-group">
      <label for="newPin">Enter New Pin</label>
      <input type="password" class="form-control" id="NewPin" bind="@NewPin" placeholder="Enter New Pin" />
    </div>


    <div class="form-group">
      <label for="ConfirmNewPass">Confirm New Pin</label>
      <input class="form-control" id="ConfirmNewPin" type="password" bind="@ConfirmPin" placeholder="Confirm New Pin" />
    </div>

    <div class="form-check">
      <input bind="@EnableLogin" type="checkbox" class="form-check-input" id="EnablePinLoginCheckBox" />
      <label class="form-check-label" for="EnablePinLoginCheckBox">Enable Pin Login</label>
    </div>
    <button type="button" onclick="@ChangePin" class="btn btn-dark">Confirm</button>
  </form>
</div>
<br />

<style></style>
