@page "/changePassword"
@inherits ChangePasswordModel

<div class="container-fluid">
  <h1>@ApplicationState.Name</h1>
  <h1>ChangePass Form will be here</h1>

</div>

<div id="@Id" class="text-center">
  <Validation ValidationResult="@ValidationResult" />
  <br />

  <form onsubmit="@ChangePassword">
    <div class="form-group">
      <label for="newPassword">Enter New Password</label>
      <input type="password" class="form-control" id="NewPassword" bind="@NewPassword" placeholder="Enter New Password" />
    </div>


    <div class="form-group">
      <label for="ConfirmNewPass">Confirm New Password</label>
      <input class="form-control" id="ConfirmNewPass" type="password" bind="@ConfirmPassword" placeholder="0.01234" />
    </div>
    <button type="button" onclick="@ChangePassword" class="btn btn-dark">Confirm</button>
  </form>
</div>
<br />

<style></style>
