@page "/wallet/{EdgeCurrencyWalletEncodedId}/Send"
@inherits WalletSendPageModel


<div class="text-center">
  <h1>@WalletName</h1>

  <form onsubmit="@Send">
    <div class="form-group">
      <label for="CurrencyCode">CurrencyCode</label>
      <select id="CurrencyCode" bind="@CurrencyCode">
        @foreach (string currencyCode in EdgeCurrencyWallet.Balances.Keys)
        {
          <option value="@currencyCode">@currencyCode</option>
        }
      </select>
    </div>
    <Balance Balance="@Balance" CurrencyCode="@CurrencyCode" DecimalPlacesToDisplay="18" />
    <div class="form-group">
      <label for="DestinationAddress">DestinationAddress</label>
      <input id="DestinationAddress" bind="@DestinationAddress" />
    </div>
    <div class="form-group">
      <label for="Amount">Amount(@CurrencyCode)</label>
      <input id="Amount" type="text" pattern="@Pattern" bind="@Amount" />
    </div>
    <button type="submit" class="btn">Send</button>
  </form>

  <br />

  <div>Fee: In the wallets base currency ETH @Fee</div>
</div>

<style>
</style>

