
@inherits EdgeTransactionComponentModel
@using Herc.Pwa.Client.Features.Edge.State


<div id="EdgeTransactionComponent" class="m-1 d-flex table justify-content-center">

  <div id="TransactionDate" class="table-data">
    <p class="text m-1">@EdgeTransaction.Date.ToShortDateString()</p>
    <p class="text m-1">@EdgeTransaction.Date.TimeOfDay</p>
  </div>
  <div id="TransactionData" class="table-data">
    <p class="text m-1">@SendOrReceive(EdgeTransaction.NativeAmount)</p>
    <p class="text m-1">@EdgeTransaction.CurrencyCode</p>
  </div>
  <div id="TransactionAmount" class="table-data">
    <p class="text m-1">@DisplayBalance</p>
    <p class="text-sm m-1">@EdgeTransaction.NativeAmount</p>
  </div>
</div>

<style>
  .table-data {
    width: 20%
  }
</style>
