@inherits IconBarModel
<img src="https://cdn.jsdelivr.net/open-iconic/1.1.0/sprite/open-iconic.min.svg" class="iconic-sprite" style="display:none;" />

<div id="IconBar" class="row">
  <div class="col">
    <HercButtonIcon Size="@IconSize" FillColor="@IconFillColor"/>
  </div>
  <div class="col">
    <IconicMenu Size="@IconSize" FillColor="@IconFillColor"/>
  </div>
  <div class="col">
    <IconicCog Size="@IconSize" FillColor="@IconFillColor"/>
  </div>
</div>
