@inherits BaseComponent
@using  Herc.Pwa.Client.Pages

<div id="@Id" class="dropdown d-block">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span style="font-size:xx-large" class="oi oi-person" aria-hidden="true"></span>
  </button>

  <h6>@EdgeAccountState.Username</h6>
  <div class="dropdown-menu dropleft" aria-labelledby="dropdownMenuButton">
    <NavLink class="nav-link nav-item" href="@ChangePasswordModel.Route">
      <span class="oi oi-bolt" aria-hidden="true"></span> Change Password
    </NavLink>
    <NavLink class="nav-link nav-item" href="@ChangePinModel.Route">
      <span class="oi oi-bolt" aria-hidden="true"></span> Change Pin
    </NavLink>
    <NavLink class="nav-link nav-item" href="@LogoutPageModel.Route">
      <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
    </NavLink>
  </div>
</div>


<style>
  #@Id  {
    font-size: 1em;
    font-weight: bold;
  }

  #@Id h6{
    text-transform: uppercase;
    font-weight: bold;
  }

  #@Id span{
    font-size: small;
  }

  @@media (max-width:425px){
    #@Id  h6 {
      font-size: .7rem;
    }
  }

</style>